PartnerWeb/src/MAS/WebService/DirectDistributionSystem/DirectDistributionSystem.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService.MAS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService.MAS/" name="DirectDistributionSystemService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService.MAS/" schemaLocation="http://localhost:8080/WebService_war_exploded/services/DirectDistributionSystem?xsd=1"/>
</xsd:schema>
</types>
<message name="searchAvailableFlights">
<part name="parameters" element="tns:searchAvailableFlights"/>
</message>
<message name="searchAvailableFlightsResponse">
<part name="parameters" element="tns:searchAvailableFlightsResponse"/>
</message>
<message name="book">
<part name="parameters" element="tns:book"/>
</message>
<message name="bookResponse">
<part name="parameters" element="tns:bookResponse"/>
</message>
<message name="BookingException">
<part name="fault" element="tns:BookingException"/>
</message>
<portType name="DirectDistributionSystem">
<operation name="searchAvailableFlights">
<input wsam:Action="http://WebService.MAS/DirectDistributionSystem/searchAvailableFlightsRequest" message="tns:searchAvailableFlights"/>
<output wsam:Action="http://WebService.MAS/DirectDistributionSystem/searchAvailableFlightsResponse" message="tns:searchAvailableFlightsResponse"/>
</operation>
<operation name="book">
<input wsam:Action="http://WebService.MAS/DirectDistributionSystem/bookRequest" message="tns:book"/>
<output wsam:Action="http://WebService.MAS/DirectDistributionSystem/bookResponse" message="tns:bookResponse"/>
<fault message="tns:BookingException" name="BookingException" wsam:Action="http://WebService.MAS/DirectDistributionSystem/book/Fault/BookingException"/>
</operation>
</portType>
<binding name="DirectDistributionSystemPortBinding" type="tns:DirectDistributionSystem">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchAvailableFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="book">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BookingException">
<soap:fault name="BookingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="DirectDistributionSystemService">
<port name="DirectDistributionSystemPort" binding="tns:DirectDistributionSystemPortBinding">
<soap:address location="http://localhost:8080/WebService_war_exploded/services/DirectDistributionSystem"/>
</port>
</service>
</definitions>